<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <% if(user) { %>
            <h3><%= user.name%></h3>
            <a href="/users/logout">logout</a>
        <% } else { %>
            <a href="/users/login">login</a>
            <a href="/users/register">register</a>
        <% } %>
    </header>

    <h2><%= article.title%></h2>
    <p><%= article.description%></p>
    <h4><%= article.tags%></h4>
    <h4><%= article.likes%></h4>

    <a href="/article/<%= article.id%>/edit">edit</a>
    <a href="/article/<%= article.id%>/delete">delete</a>
    <a href="/">Back</a>

    <form action="/article/<%= article.id%>/comments" method="POST">
        <input type="text" name="text" placeholder="Comments">
        <input type="text" name="author" placeholder="Author">
        <input type="submit" value="Add Comments">
    </form>

   <% article.comments.forEach(c => { %>
        <h3><%= c.author%></h3>
        <p><%= c.text%></p>
   <% }) %>
</body>
</html>